* {
  cursor: crosshair;
}



.video {
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
    
}

.poster {
  margin: 0;
  height: 370px;
  display: grid;
  place-items: center;
  position: relative;
  align-items: flex-end;
}

.content {
  display: grid;
  place-items: center;
  position: relative;
}

.other {
  position: absolute;
  margin-top: 150px;
}

.camera {
  position: absolute;
  margin-top: 245px;
}

@media only screen and (max-width: 524px) {

  .poster{
    height: 320px;
  }

  .other{
    width: 300px;
  }

  .camera{
    width: 130px;
    margin-top: 210px;
  }
}