* {
  cursor: crosshair;
}



.video {
  position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; 
    
}

.poster {
  margin: 0;
  height: 95vh;
  display: grid;
  place-items: center;
  position: relative;
  align-items: center;
}

.content {
  display: grid;
  place-items: center;
  position: relative;
}

.other {
  position: absolute;
}

.camera {
  position: absolute;
  margin-top: 90px;
}

@media only screen and (max-width: 524px) {

  

  .other{
    width: 300px;
  }

  .camera{
    width: 130px;
    margin-top: 60px;
  }
}

@media only screen and (max-height:)